body{
  background-color:#ff6347;
}

iframe {
    border: 15px solid green;
    padding: 0px;
    margin-top: 0px;
    margin-right: 650px;
    margin-bottom: 0px;
    margin-left: 650px;
}

img1 {
    padding: 0px;
    margin-top: 50px;
    margin-right: 800px;
    margin-left: 800px;
}

p {
    text-align: center;
}

img2 {
    padding: 0px;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
}
