body{
  background-color:#ff6347;
}

iframe {
    border: 15px solid green;
    margin-right: 650px;
    margin-left: 650px;
}

#img1 {
    margin-top: 50px;
    margin-right: 800px;
    margin-left: 800px;
}

p {
    text-align: center;
}

#img2 {

    margin-top: 50px;
    margin-left: 700px;
}
